denoising_step_list:
- 1000
- 750
- 500
- 250
warp_denoising_step: true
num_frame_per_block: 3
model_name: Wan2.1-T2V-1.3B
model_kwargs:
  local_attn_size: 12
  timestep_shift: 5.0
  sink_size: 3

# inference
data_path: longlive_models/prompts/vidprom_filtered_extended.txt
output_folder: videos/long_5s_no_lora
inference_iter: -1
num_output_frames: 120   # 5 seconds @ 24fps
use_ema: false
seed: 0
num_samples: 1
save_with_index: true
global_sink: true
context_noise: 0

generator_ckpt: longlive_models/models/longlive_base.pt
lora_ckpt: null   # Disable LoRA
